/* GENERIC
------------------------------------------------  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;;
  font-size: 1em;
}

a {
  text-decoration: none;
}

/* NAVIGATION
------------------------------------------------  */
header {
  background-color: #F7A100;
  padding: 1em;
}

header .logo {
  max-width: 7.5em;
  margin-top: .25em;
}

/* HOUSELIST
------------------------------------------------  */
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em;
}

h1 {
  margin-left: .5em;
}

section > div {
  display: block;
  width: 95%;
  margin-top: 1em;
  background-color: #E6F2F7;
}

@media screen and (min-width: 50em) {
    section > div {
      width: 27.5%;
    }
}

@media screen and (min-width: 30em and max-width: 50em) {
    section > div {
      width: 45%;
    }
}

.listSection img {
  max-width: 100%;
}

.info_wrapper {
  padding: 1em;
  padding-top: 0;
}

.info_wrapper a {
  font-weight: 600;
}

.btn-group {
  margin-left: 3.5em;
}

.btn-group button {
    padding: .75em 1.5em;
    background-color: #F7A100;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

.btn-group button:hover {
    background-color: #3e8e41;
}
